[mysqld]
user          = mysql
#bind-address = {{ virtual_IP }}
socket        = /var/lib/mysql/mysql.sock
port          = {{ mysql_port }}
basedir       = /usr
datadir       = /var/lib/mysql
tmpdir        = /tmp
log-bin       = mysql-bin
log-bin-index = mysql-bin.index
relay_log     = mysql-relay-bin
relay_log_index = mysql-relay-bin.index
server-id     = 1
read_only     = FALSE
slave_skip_errors=1007,1008
log-slave-updates
#skip-slave-start #  The slave replication that is operating on the master is disabled on initial server startup
## --> This is important for certain specific error situations with\ multiple replication streams for a failed failover or unexpected server restart. This does require an additional management check and execution step when MySQL is initiated on both servers

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

!includedir /etc/my.cnf.d
