vrrp_script mysql_check {
script "/etc/keepalived/mysql_check.sh"
interval 2                       # every 2 seconds
#weight 2
fall 3
rise 3
}

vrrp_instance primary {
  state MASTER
  interface eth0
  virtual_router_id 50
  priority 9
  authentication {
    auth_type PASS
    auth_pass mysecretpassword
}
  virtual_ipaddress {
    {{ virtual_IP }}
  }
  unicast_peer {
    "{{ groups['mysql-replication'].0 }}"        # IP address of the second master
  }
  track_script {
     mysql_check
  }
}

