#!/bin/bash

MYSQL_HOST="localhost"
MYSQL_PORT={{ mysql_port }}
MYSQL_USERNAME={{ mysql_replication_user }}
MYSQL_PASSWORD={{ mysql_replication_password }}
# Check connectivity to MySQL
mysql --host=localhost --port=$MYSQL_PORT --user=$MYSQL_USERNAME --password=$MYSQL_PASSWORD --connect_timeout=3 -e "select version();" #2>/dev/null
# Check network connectivity be pinging the default GW
ping -c 1 "{{ ansible_default_ipv4.gateway }}"
